html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card{
    /*cursor: pointer;*/
}
#poke-wrapper{
    position: relative;
    height: 120px;
}
img.poke{
    height: 100%;
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.modal-body{
    max-height: 500px;
    overflow: auto;
}

.dataTables_wrapper .dt-buttons {
    margin-bottom: 10px;
}

.dataTables_wrapper .dt-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.dataTables_wrapper .dt-buttons .btn-primary, .dataTables_wrapper .dt-buttons .btn-primary:hover {
    background-color: #007bff !important;
    color: #fff;
}

.dataTables_wrapper .dt-buttons .btn-success, .dataTables_wrapper .dt-buttons .btn-success:hover {
    background-color: #28a745 !important;
    color: #fff;
}

.dataTables_wrapper .dt-buttons .btn-danger, .dataTables_wrapper .dt-buttons .btn-danger:hover {
    background-color: #dc3545 !important;
    color: #fff;
}

.dataTables_wrapper .dt-buttons .btn-secondary, .dataTables_wrapper .dt-buttons .btn-secondary:hover {
    background-color: #6c757d !important;
    color: #fff;
}