@{
	Layout = "_Layout";
}

<div class="row text-center mx-auto">
	<div class="col mb-5">
		<canvas id="univChart"></canvas>
	</div>
	<div class="col-3 mb-5">
		<canvas id="genderChart"></canvas>
	</div>
	<div class="col mb-5">
		<canvas id="univLineChart"></canvas>
	</div>
</div>