<div class="row mb-3 border-bottom py-2">
    <div class="col-6">
        <h5>Employees Data</h5>
    </div>
    <div class="col-6 text-end">
        Button Insert
    </div>
</div>

<table id="employeesTable" class="display">
    <thead>
        <tr>
            <th>NIK</th>
            <th>Full Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Hired</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>