<table id="countriesTable" class="display">
    <thead>
        <tr>
            <th>Negara</th>
            <th>Nama Resmi</th>
            @*<th>Kedaulatan</th>*@
            @*<th>Keanggotaan PBB</th>*@
            <th>Mata Uang</th>
            <th>Ibu Kota</th>
            <th>Benua</th>
            <th>Bahasa</th>
            <th>Letak Geografis</th>
            <th>Populasi</th>
            <th>Zona Waktu</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>