<table id="employeesTable" class="display">
    <thead>
        <tr>
            <th>NIK</th>
            <th>Nama Lengkap</th>
            <th>Tanggal Lahir</th>
            <th>Jenis Kelamin</th>
            <th>Tanggal Masuk</th>
            <th>Alamat Email</th>
            <th>Nomor Telepon</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>