@{
	Layout = "_LayoutLatihan";
}

<div class="row py-5 align-items-strech">
	<div class="col-md-6 d-flex align-items-center">
		<div class="card border-primary text-center">
			<div class="card-body">
				<p class="mb-0" data-target="p">
					Fusce consequat augue sit amet diam aliquam, nec tincidunt tortor interdum. Praesent non ultricies enim, tempor bibendum mauris. Proin tincidunt condimentum erat ut pharetra. Suspendisse at porttitor urna, in convallis odio. Phasellus vehicula nunc purus, pretium ornare lorem sagittis non. Phasellus pellentesque nisl ac diam laoreet, eget porttitor turpis efficitur. Etiam non eros ac metus auctor ultricies vestibulum sed diam. Nunc vitae feugiat augue. Nullam sit amet mattis dui, eu fermentum lectus. Suspendisse sit amet viverra dui, ac finibus elit. Nullam non semper diam. Suspendisse ornare diam et lobortis pretium. Maecenas euismod non tellus vel consequat. Sed at leo accumsan, consectetur dui sit amet, eleifend justo.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-12 min-100">
				<img data-trigger="expand-image" src="https://img.freepik.com/free-vector/gradient-mountain-landscape_52683-77407.jpg?w=740&t=st=1688543101~exp=1688543701~hmac=2f05f9be187d38b28558a9ce18f9764a320dac1e46569cae39698e4b47ae6e95" />
			</div>
			<div class="col-12 mt-3 min-100 d-flex justify-content-center p-3">
				@*<div class="box">1</div>
				<div class="box">2</div>
				<div class="box">3</div>*@

				<input data-trigger="focus-on-me" class="form-control text-center text-danger fw-bold border-1 border-danger" type="text" readonly value="Focus on Me!"/>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 text-center">
		<div class="card border-primary text-white text-center border-1">
			<div class="card-body">
				<button data-trigger="show-hide-p" class="btn btn-sm btn-secondary text-white fw-bold px-3 me-1">
					Sembunyikan Paragraf
				</button>
				<button data-trigger="random-bg" class="btn btn-sm btn-secondary text-white fw-bold px-3 me-1">
					Klik Kanan untuk Mengganti Warna Background, Klik untuk Mereset
				</button>
			</div>
		</div>
	</div>
</div>